*{
    
    margin: 0;
    padding: 0;
    font-family: barlow;
}
:root{
    --background-orange-color:#f16718;
    --background-orange-hover: #ff9b62;
    --main-color:#162542;
    --light-grey:#e8eff2;
    --main-light-color:#788bad;
    --white-color:#fff;

}

.page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.nav{
    width: 80%;
    height: 10vh;
    margin-top:1rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.pre{
    width: 10vw;
    height: 6vh;
    background-color: var(--light-grey);
    color: var(--main-color);
    font-family: Barlow;
    font-weight: 700;
    font-size: 1em;
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
    border: none;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
.pre:hover{
    background-color: var(--main-color);
    color: var(--white-color);
}

.container-two{
    /* background-color: var(--main-color); */
    width: 90%;
    height: 60vh;
    display: flex;
    justify-content: flex-start;
    gap: 19rem;

    align-items: center;
    

}
.img-container .desktop{
    width: 60vh;
    border-radius: 1rem;    
}

.img-container .mobile,.tablet{
    display: none;
}
.keyboard-master h1{
    font-size: 3rem;
    color: var(--main-color);
    margin-right: 12rem;
    
}
.keyboard{
    text-transform: uppercase;
    margin-bottom: 2rem;
    margin-left: 4rem;
}
.keyboard-master{
    margin-bottom: 2rem;
}
.keyboard-master p{
    color: var(--main-light-color);
    line-height: 1.2rem;
    font-size: 1.2rem;
    margin-left: 4rem;
}

.pre-order-container{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6rem;
    margin-left: 4rem;
}
.pre-order-container button{
    width: 10vw;
    height: 6vh;
    background-color: var(--background-orange-color);
    color: var(--white-color);
    font-family: Barlow;
    font-weight: 700;
    font-size: 1em;
    border-radius: .7rem;
    border: none;
    text-align: center;
    text-transform: uppercase;
}
.pre-order-container button:hover{
    background-color: var(--background-orange-hover);
    color: var(--white-color);
}
.release{
    color: var(--main-light-color);
    font-size: 1em;
    text-transform: uppercase;
}

.wireless-keyboard{
    width: 90%;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    gap: 10rem;
    align-items: center;
    margin-left: 7rem;
}
.wireless-img{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    
}
.wireless-img .all {
    background: var(--background-orange-color);
 }
 .wireless-img .all {
    width: 30vh;
    height: 70vh;
    border-radius: 3rem;
    opacity: 40%;
}
.wireless-img .all-img{
    background: #f16718;
    border-radius: 3rem;
}

.wireless-img .desktop{
    width: 60vh;
    border-radius: 3rem;
}

.wireless-img .mobile{ 
    display: none;
}
.Mech{
    display: flex;
    flex-direction: column;
    gap: 2em;
    

}
.mech1{
font-size: 2em;
line-height: .9em;
text-transform: uppercase;
color: var(--main-color);
}
.mech2{
    color: var(--main-light-color);
    font-size: 1em;
    font-weight: bold;
}
.computer-tools{
    width: 90%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8rem;
    text-align: left;
}
.computer-tools h1{
    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.computer-tools p{
    color: var(--main-light-color);
}
.svg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    background-color: var(--background-orange-color);
    height: 3rem;
    border-radius: .7rem;
    margin-bottom: 3rem;
}

.footer{
    margin: 3rem;
    color: var(--main-light-color);
    text-align: center;
}


/* ------Responsive styles tablet------------------- */
@media  screen and (max-width:768px){
    .page{
        width: 768px;
        overflow: hidden;
    }
    .pre{
    width: 20vw;
    height: 5vh;
    }
    .nav{
        width: 80%;
    }
    .container-two{
    width: 80%;
    height: 60vh;
    gap:0;
    margin-left: -9rem;
    }
    .img-container .desktop{
        display: none;
    }
    .img-container .tablet{
    display: inline;
    height: 325px;
    width: 50vh;
    position: relative;
    border-radius: 1rem;
    left: -5rem;
}
    .pre-order-container{
         gap: 2rem;
    }
    .pre-order-container button{
        width: 12rem;
        height: 58px;
       
    }
    .pre-order-container h3{
        width: 9rem;
    }
    
    .wireless-img .all{
        width: 214px;
        height: 320px;
        left: 39px;
        top: 625px;
    }
    .wireless-img .desktop{
        display: none;
    }
    .wireless-img .mobile{
        display: inline;
        width: 23rem;
        left: 9rem;
        border-radius: 2rem;
    }
    
    .Mech .mech1{
        position: relative;
        right: 48rem;
        top: 20rem;
    }
    .Mech .mech2{
        position: relative;
        width: 20rem;
        right: 28rem;
        top: 13rem;
        display: flex;
        flex-direction: right;
        justify-items: center;
    }
    .computer-container{
        position: relative;
        width: 20rem;
        top: 2rem;
        left: 22rem; 
     }
     .computer-container p{
        width: 20rem;
     }
     .bluetooth-container{
        position: relative;
        width: 20rem;
        top: 2rem;
        left: 22rem;
     }
     .bluetooth-container p{
        width: 20rem;
}
     .battery-container{
        position: relative;
        width: 20rem;
        top: 25rem;
        right: 19rem; 
     }
     .battery-container p{
        width: 20rem;
     }
     .mode-container{
        position: relative;
        width: 20rem;
        top: 25rem;
        right: 18rem;
     }
     .mode-container p{
        width: 20rem;
     }
     .footer{
        margin-top: 30rem;
        text-align: center;
     }
}
/* -------Responsive styles Mobile------- */
@media  screen and (max-width:376px){
    .page{
        width: 376px;
        /* overflow: hidden; */
    }
    .nav{
        width: 327px;
        height: 48px;
        left: 24px;
        top: 30px;
        margin-top: 30px;
    }
    .pre{
        width: 10rem;
        height: 2vh;
    }
    .keyboard-master{
        margin-top: -85rem;
        width: 23rem;
    }
    .keyboard p{
        line-height: 4rem;
    }

    .img-container .desktop{
        display: none;
    }
    
    .img-container .tablet{
        display: none;
    }
    .img-container .mobile{
        position: relative;
        display: inline;
        right: 19rem;
        top: -20rem;
        border-radius: 20px;
        width: 23rem;
    }
    .wireless-img{
        position: relative;
        top: -65rem;
        right: 10rem;
    }
    .wireless-img .desktop{
        width: 7rem;
    }
    .Mech{
        margin-top: -120rem;
        left: -90rem;
    }  
    .Mech .mech1{
        text-align: center;
        margin-left: 10px;
    }  
    .Mech .mech2{
        position: relative;
        margin-left: -320px;
        top: 22rem;
        width: 20rem;
    }
    .computer-tools .svg-container{
        margin-left: 3rem;
    }
    .computer-tools h1{
        margin-left: 2rem;
        width: 50rem;
        
    }
    .computer-container{
        position: relative;
        width: 20rem;
        margin-top: -160rem;
        /* display: flex; */
        left: 32rem; 
     }
     .computer-container p{
        width: 20rem;
     }
     .bluetooth-container{
        position: relative;
        width: 20rem;
        margin-top: -110rem;
        /* display: flex; */
        left: 13rem;
     }
     .bluetooth-container p{
        width: 20rem;
        }
     .battery-container{
        position: relative;
        width: 20rem;
        margin-top: -110rem;
        /* display: flex; */
        right: 7rem; 
     }
     .battery-container p{
        width: 20rem;
     }
     .mode-container{
        position: relative;
        width: 20rem;
        margin-top: -60rem;
        /* display: flex; */
        right: 27rem;
     }
     .mode-container p{
        width: 20rem;
     }
     .footer{
        margin-top: -30rem;
        text-align: center;
     }



}   

